#mainCasual {
    /* Positioning */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Scaling */
    width: 100%;
    height: 100%;
}

#mainCasual .notready,
#mainCasual .ready,
#mainCasual .activated {
    max-width: 15vw;
}

.rushLogo1Line {
    max-width: 80vw;
    max-height: 100px;
}

@media (max-width: 1100px) {

    #mainCasual .notready,
    #mainCasual .ready,
    #mainCasual .activated {
        max-width: 50vw;
    }

}
@media (max-width: 750px) {
    .rushLogo1Line {
        display: none;
    }
}


.above_placer {
    /* Positioning */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* Scaling */
    padding: 2vw 5vw 2vw 5vw;
    width: min(70vw, 1000px);
    height: auto;
    border-radius: 12px;
    backdrop-filter: blur(50px);
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 24px;
    margin-top: 12dvh;
}

#scorebox {
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-width: 7vw;

    color: #FFF;
    font-family: "Inria Sans";
    font-size: 2vh;
    font-weight: 600;

}

@media (max-width: 1100px) {
    .above_placer {
        flex-direction: column;
        gap: 24px;
    }

    @media (max-height: 986px) {
        .above_placer {
            margin-top: 170px;
        }
    }

    #scorebox {
        flex-direction: row;
        gap: 24px;
    }
}

#questionbox {
    display: flex;
    align-items: center;
    justify-content: center;

    width: auto;
    height: auto;
}

#question {
    color: #FFF;
    font-family: "Inria Sans";
    font-size: 2.5vh;
    margin: 0 24px 0 24px;
    font-weight: 600;
}

#cardscontainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-items: center;
    align-items: center;


    padding: 2vw 5vw 2vw 5vw;
    padding: 2vw 5vw 2vw 5vw;
    margin: 0 auto;
    width: min(70vw, 1000px);
    background-color: #002244;
    border-radius: 12px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.4);
    background-image: url('../../images/background/Background_Foam.webp');
    background-size: 256px 256px;
    background-repeat: repeat;

    border: 5px rgb(56, 56, 56) solid;
}

.cardscontainerPart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
    gap: 10vw;
}

@media (max-width: 1100px) {
    #cardscontainer {
        flex-direction: row;
    }

    .cardscontainerPart {
        flex-direction: column;
        width: 100%;
        gap: 12px;
    }
}

#cardscontainer img {
    height: 40%;
    flex-shrink: 0;
    opacity: 1;
    filter: drop-shadow(10px 10px 6px rgba(0, 0, 0, 1));

}

@media (max-width: 1100px) {
    #cardscontainer img {
        height: 50%;
    }
}

#cardscontainer p {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-family: "Inria Sans";
    font-size: 1.75vh;
    font-style: normal;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

#cardscontainer button {
    width: clamp(100px, 20vw, 200px);
    /* Width is responsive but limited */
    aspect-ratio: 3.5 / 4;
    height: auto;
    /* Aspect-ratio will handle height */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;

    background-image: url('../../images/cardicon/unselected-background.webp');
    background-size: 256px 256px;
    background-repeat: repeat;

    border: none;
    outline: none;
    transition: all 0.15s linear;
    cursor: pointer;
    border-radius: 18px;
}


@media (max-width: 1100px) {
    #cardscontainer p {
        display: none;
    }

    #cardscontainer button {
        width: clamp(80px, 30vw, 150px);
        border-radius: 12%;
    }
}

#cardscontainer button:hover {
    /* Interaction */
    animation: card-select 1s ease-in-out forwards;
    background-image: url('../../images/cardicon/selected-background.webp');
    transform: rotate(1deg) scale(1.05);
    opacity: 1;

}

.active-card {
    opacity: 1 !important;
    border: solid 3px white !important;
    background-image: url('../../images/cardicon/selected-background.webp') !important;
}

.right-card {
    opacity: 1 !important;
    border: solid 3px rgb(0, 255, 0) !important;
    transform: rotate(1deg);
    box-shadow: 0px 0px 5px rgb(0, 255, 0);
    background-image: url('../../images/cardicon/correct-background.webp') !important;
}

.false-card {
    border: solid 3px rgb(255, 0, 0) !important;
    box-shadow: inset 0px 0px 5px rgb(255, 0, 0);
    opacity: 1 !important;
    background-image: url('../../images/cardicon/false-background.webp') !important;
}

.right-card-hidden {
    border: solid 1px rgb(0, 255, 0) !important;
    transform: rotate(-1deg) scale(1.03);
    box-shadow: inset 0px 0px 5px rgb(0, 255, 0);
    opacity: .8 !important;
    background-image: url('../../images/cardicon/should-background.webp') !important;
}

.right-elements {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-elements img {
    width: 30px !important;
    height: 30px !important;
}

.hintBox {
    background-color: unset;
    border: unset;
}