.ready {
    /* Scaling */
    width: 30dvw; /* 59.875rem / 1920 * 100 */
    height: 7vh; /* 5.3rem / 1920 * 100 */

    /* Appearance */
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.5) 28%, rgba(0, 0, 0, 0.5) 69%, rgba(0, 0, 0, 0.00) 100%);
    transition: all 0.3s ease;
    border: none;
    outline: none;

    /* Content appearance */
    color: #FFF;
    font-family: "Inria Sans";
    font-size: 3vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.activated {
    /* Scaling */
    width: 25dvw; /* 59.875rem / 1920 * 100 */
    height: 6dvh; /* 4rem / 1920 * 100 */

    /* Appearance */
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.5) 28%, rgba(0, 0, 0, 0.5) 69%, rgba(0, 0, 0, 0.00) 100%);
    transition: all 0.3s ease;
    border: none;
    outline: none;

    /* Content appearance */
    color: #FFF;
    font-family: "Inria Sans";
    font-size: 2.5dvh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    /* Interaction */
    cursor: pointer !important;
}

.notready {
    /* Positioning */
    flex-shrink: 0;

    /* Scaling */
    width: 25dvw; /* 59.875rem / 1920 * 100 */
    height: 6dvh; /* 4rem / 1920 * 100 */

    /* Appearance */
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.30) 28%, rgba(0, 0, 0, 0.30) 69%, rgba(0, 0, 0, 0.00) 100%);
    border: none;
    outline: none;

    /* Content appearance */
    color: rgba(255, 255, 255, 0.30);
    font-family: "Inria Sans";
    font-size: 2.5vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    /* Interaction */
    cursor: not-allowed !important;
}
@media (min-width: 1100px) {
    .ready:hover {
        /* Appearance */
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.7) 28%, rgba(0, 0, 0, 0.7) 69%, rgba(0, 0, 0, 0.00) 100%);
        transform: translateX(24px);
    
        /* Content appearance */
        color: grey;
    }
    
    .notready:hover {
        transform: unset;
    }
}


@media (max-width: 1100px) {
    .ready {
        width: 80dvw; /* 59.875rem / 1920 * 100 */
        height: 7vh; /* 5.3rem / 1920 * 100 */
    }

    .activated {
        width: 60dvw; /* 59.875rem / 1920 * 100 */
        height: 6dvh; /* 4rem / 1920 * 100 */
    }

    .notready {
        width: 60dvw; /* 59.875rem / 1920 * 100 */
        height: 6dvh; /* 4rem / 1920 * 100 */
    }

    .ready:active{
        /* Appearance */
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.7) 28%, rgba(0, 0, 0, 0.7) 69%, rgba(0, 0, 0, 0.00) 100%);
        transform: translateX(24px);
    
        /* Content appearance */
        color: grey;
    }
    
    .notready:active {
        transform: unset;
    }
}