#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

#contact-form label {
    flex-shrink: 0;
    color: #FFF;
    text-align: start;
    font-family: "Inria Sans", serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#name,
#password,
#message,
#username,
#email,
#password-confirm  {
    flex-shrink: 0;
    border-radius: 5px;
    /*margin-top: -75px;*/

    border: none;
    outline: none;
    padding: 10px; 

    background-color: rgba(0, 0, 0, 0.30);
    backdrop-filter: blur(2px);

    color: #FFF;
    text-align: start;
    font-family: "Inria Sans", serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    transition: all 0.3s ease;
}

#name:hover,
#password:hover,
#message:hover,
#username:hover,
#email:hover,
#password-confirm:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

#name:focus,
#password:focus,
#message:focus,
#username:focus,
#email:focus,
#password-confirm:focus {
    background-color: rgba(0, 0, 0, 0.9);
}

#message {
    height: 17.125rem;
    margin-bottom: 50px;
}

#textblock {
    width: 30dvw !important;
    height: auto !important;
    margin-bottom: 10dvh; 
}

@media (max-width: 1100px) {
    #textblock {
        width: 80vw !important;
    }
    
}

#login-form {
    align-items: center;
    flex-direction: column;
    height: auto;
    justify-content: center;
}


.Heading1{
    font-size: min(50px,10vw);
}




